* {
  box-sizing: border-box;
}

body {
  background-color: #122230;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#scene {
  width: 100vw;
  height: 100vh;
}

#tooltip {
  position: absolute;
  top: 0px;
  left: -350px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.sidebar {
  width: 300px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 250ms ease 0s;
  padding: 20px;
}

.sidebar__inner {
  background-color: rgb(41, 50, 60);
  color: white;
  padding: 16px;
  height: 100%;
}

.sidebar__close {
  position: absolute;
  left: 290px;
  top: 20px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 1px;
  color: #fff;
  display: flex;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: left 250ms ease 0s;
}

.sidebar.sidebar__hidden {
  left: -300px !important;
}

.sidebar__close.sidebar__hidden {
  left: 20px !important;
  transform: rotate(180deg);
}

.space-below {
  margin-bottom: 15px;
}

select {
  color: #fff;
  background-color: #5E738B;
  padding: 8px 0px 8px 8px;
  width: 100%;
}

label {
  margin-bottom: 8px;
  display: inline-block;
  color: #5E738B;
}